<launch>
  <arg name="cfg" default="$(find semantic_mapping)/config/e2e_mask_rcnn_R-50-FPN_1x.yaml"/>
  <arg name="wts" default="$(find semantic_mapping)/models/model_final.pkl"/>
  <arg name="dir" default="/tmp/infer"/>
  <arg name="thresh" default="0.7"/>

  <node pkg="semantic_mapping" type="infer.py" name="infer" output="screen"
  args="-cfg $(arg cfg) -wts $(arg wts) -thresh $(arg thresh) -dir $(arg dir)"/>
</launch>
